* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header h1,
h5 {
    text-align: center;
    margin: 10px;
}

header img {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

header input,
button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 500px;
    padding: 3px;
    font-size: 20px;

}

p {
    margin: 20px;
}

hr {
    margin: 20px;
}

.anuncio {
    display: flex;
    float: left;
    width: 50%;
    height: auto;
    flex-direction: column;
}

.anuncio span {
    margin: 20px;
}

.conteudo {
    display: flex;
    width: 50%;
    float: right;
    height: 500px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.card img {
    margin: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightcyan;
    cursor: pointer;
}

